/* Pen-specific styles */
* {
    box-sizing: border-box;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    font-family: 'roboto';
    font-family: 'roboto';
}

section {
    height: 100%;
    /* color: #fff; */

}

div {
    height: 100%;
}

/* Pattern styles */
.container {
    display: table;
    width: 100%;
}

.left-half {
    background-color: #ffffff;
    position: absolute;
    left: 0px;
    width: 60%;
    height: 30%;
}

.right-half {
    background: rgba(229, 229, 229, 0.41);
    position: absolute;
    right: 0px;
    width: 40%;
}

.logo-position {
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15%;
}

.fiets-position {
    padding-top: 40px;
    align-items: center;
    position: relative;
}
.login-form{
    position: absolute;
    top: 52%;
    padding-top: 5%;
    margin: 0 auto;
    width: 700px;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.hoofdtekst {
    /* padding-left: 62px; */
    width: 100%;
    color: #1C5F8F;
   
    font-style: normal;
    font-weight: 00;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
}
.form-login{
    padding-top: 20px;
    /* padding-left: 125px; */
    -webkit-appearance: none;
}
.welkom{
    padding-top: 100px;
    margin-bottom: 50px;
}
.form-login .form-group{
    box-sizing: border-box;
    padding: 10px 20px;
    /* width: 554px;     */
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #C1BBBB;
    font-size: 14px;
    color: black;
}

.form-login .email,
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="email"] {
    width: 500px;
    outline: none;
    border: none;
    color: #1C5F8F;
    font-weight: bold;

  
}
.form-login .form-group:focus-within{
    border-left: #1C5F8F solid 4px;

}

input::placeholder{
    color: #1C5F8F;
    font-weight: bold;
}
.form-login .email,
.form-login input[type="text"]:focus ,
.form-login input[type="password"]:focus ,
.form-login input[type="email"]:focus {
    border-left: #1C5F8F solid 2px;
}
.bottomline{
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 5px;
}
.float-right{
    float:right;
}
.buttonline{
    margin-top: -140px;
    /* padding-left: 15px;
    padding-right: 5px; */
}
.login-button{
    width: 109px;
    height: 34px;
    background-color: #1C5F8F;
    color: white;
    border: none;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}
.login-button:hover{
    background-color: #144365;
    cursor:pointer;
}